!!! 5
%head
	:css
		a {
			cursor: pointer;
		}

		table {
			font-size: 0.8em;
			table-layout: fixed;
		}

		.alert {
			display: none;
			position: absolute;
		}

		table#tasks input {
			display:none;
			margin: 1px;
		}

		table#tasks th.actions {
			width:100px;
		}

		table#tasks tr.editing input {
			display: block;
		}

		table#tasks tr.editing span.task {
			display: none;
		}

		a.save {
			display: none;
		}

		table#tasks tr.editing a.save {
			display: block;
		}

	%link{:rel => "stylesheet", :href => "css/bootstrap.min.css"}
	%link{:rel => "stylesheet", :href => "css/bootstrap-responsive.min.css"}
	%script{:src => "vendor/jquery.js"}
	%script{:src => "vendor/underscore.js"}
	%script{:src => "vendor/backbone_min.js"}
	%script{:src => "vendor/handlebars.js"}
	%script{:src => "js/bootstrap.min.js"}
.container
	.errors.alert.alert-error
	.success.alert.alert-success
%h1 Hell Yeah !!!!!
#main.container
	= yield


-# ################ TEMPLATES ##############################
%script{:id => "tasksTemplate", :type => "text/x-handlebars-template"}
	%br
	%br
	%form#add
		%label{:for => "title"} Title
		%br 
		%input{:type => "text", :name => 'title'}
		%br  
		%label{:for => "content"} Content
		%br 
		%input{:type => "text", :name => 'content', :size => '100'}
		%br 
		%input.btn{:type => "submit", :value => "add"} 
	%table#tasks.table.table-striped.table-condensed
		%thead
			%th Title
			%th Content
			%th.actions Actions

%script{:id => "taskTemplate", :type => "text/x-handlebars-template"}
	%td 
		%span.task {{task.title}}
		%input{:type => "text", :name => 'title', :value => "{{task.title}}"}		
	%td 
		%span.task {{task.content}}
		%input{:type => "text", :name => 'content', :size => '100', :value => "{{task.content}}"}
	%td 
		%a.destroy Destroy
		%a.save Zapisz

%script{:src => "js/app.js"}
